@import './reset';
@import './variables';
@import './button';
@import './components/MenuOptions';
@import './components/GameModeName';
@import './components/UsersRanking';
@import './components/Answers';
@import './components/ImageCard';
@import './components/logo';
@import './components/ModeRules';
@import './components/Buttons';
@import './components/LightsaberTimer';
@import './components/EndGame';

body {
  font-family: 'Montserrat', sans-serif;
  background: url(../static/assets/ui/QuizBackground.png) no-repeat center /
    cover;
  height: 100vh;
  width: 100%;
}

.app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'logo content'
    'image content'
    'image content';
  // 'image content';
  justify-content: center;
  justify-items: center;
}

#swquiz-app {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
}
